@import "tailwindcss";

@theme {
  --text-field-default: #cbb6e5;
  --text-field-active: #761be4;
  --text-field-erro: #ed4545;

  --cta-inactive: #cbb6e5;
  --cta-default: #761be4;
  --cta-hover: #6a19cd;
}

#root {
  max-width: 426px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
